<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">/home/proger/projects/todo-list/src/main/resources</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file" fileName="${basePath}/todo.log"
                     filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="ru.job4j" level="trace" additivity="false">
            <appender-ref ref="file" level="trace" />
        </Logger>
        <Root level="trace">
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>